<ion-list class="ion-padding" #drawer>
  <ion-list-header>
    <ion-label>
      {{title}}
    </ion-label>
    <ion-item lines="full" fill="clear" (click)="closeDrawer()">
      <ion-icon name="close-circle"></ion-icon>
    </ion-item>
  </ion-list-header>
  <ion-item lines="full" (click)="exibir(filme)">
    <ion-icon name="play-outline"></ion-icon>
    <ion-label>Assistir</ion-label>
  </ion-item>
  <ion-item lines="full" (click)="downloadClick()">
    <ion-icon name="download-outline"></ion-icon>
    <ion-label>Baixar</ion-label>
  </ion-item>
  <ion-item lines="full" (click)="myListClick()">
    <ion-icon *ngIf="!myList" name="add-outline"></ion-icon>
    <ion-icon *ngIf="myList" name="remove-outline"></ion-icon>
    <ion-label>Minha lista</ion-label>
  </ion-item>
  <ion-item lines="full" (click)="exibir(filme)">
    <ion-icon name="information-circle-outline"></ion-icon>
    <ion-label>Informações</ion-label>
  </ion-item>
</ion-list>
