ion-toolbar {
  --opacity: .95;
  --padding: 0px;
  --min-height: 12vh;
}

ion-title {
  padding: 0px 20px;
  font-size: 20px;
  text-align: center;
  color: rgba(7, 167, 114, 0.867);
  font-weight: 700;

  ion-icon {
    color: rgba(150, 177, 167, 0.867);
  }
}

ion-card {
  padding: 0px;
}


ion-card-header {
  padding: 0px 0px;

  img {
    height: 210px;
    width: 100%;
  }
}


ion-card-title {
  text-align: end;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 10px;

}


ion-card-content {
  padding: 5px 5px;
}

.title {
  font-size: 1.2rem;
  display: block;
  font-weight: 700;
}


.descrition {
  font-size: 0.96rem;
  padding: 10px 0px;
  display: block;
  font-weight: 300;
}


.categorias {
  font-size: 0.85rem;
  font-weight: 100;
}
