<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Novidades
      <ion-icon name="megaphone-outline"></ion-icon>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  {{ dateAtual | date:"dd/MM/yyyy" }}

  <ion-card *ngFor="let filme of filmes">
    <div>
      <ion-card-header>
        <ion-card-title color="light">{{filme.date}}</ion-card-title>
        <img [src]="'/assets/mockdata/continue-'+filme.id+'.jpg'">
      </ion-card-header>

      <ion-card-content>
        <ion-text class="title" color="light">
          {{filme.title}}
        </ion-text>
        <ion-text class="descrition" color="medium">
          {{filme.descrition}}
        </ion-text>
        <ion-text *ngFor="let categoria of filme.categorias" class="categorias" color="light">
          {{categoria}}
        </ion-text>
      </ion-card-content>
    </div>
  </ion-card>

</ion-content>
