.section-title {
  font-weight: 600;
  font-size: large;
}

ion-list {
  margin-top: 10px;
  --background: rgb(206, 200, 200);
}

ion-item {
  margin-top: 10px;
  --background: rgb(67, 44, 159);
}


ion-toolbar {
  --background: rgba(246, 250, 2, 0.43);
}
