ion-title {
  font-weight: 700;
}

ion-searchbar {
  padding: 0px;
  margin-bottom: 10px;
}

ion-list {
  padding: 4px 0px;
  --background: rgb(206, 200, 200);
}

ion-item {
  padding: 0px;
  margin: 0px;
  --background: #333533;
  --border-color: #fff;
}

ion-item:hover {
  --background: #1a1b1a;
  cursor: pointer;

}

ion-thumbnail {
  margin: 0px 10px 0px 0px;
}
