<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Pesquisar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar (ionChange)="buscar($event)" placeholder="Buscar" color="light"></ion-searchbar>
  <ion-list *ngFor="let filme of filmes">
    <ion-item (click)="openInfo(filme)" lines="full" slot="start">
      <ion-thumbnail>
        <img [src]="filme.src" />
      </ion-thumbnail>
      <ion-label>
        {{filme.title}}
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
