/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


:root {
  --ion-background-color: #000;
  --ion-text-color: #fff;
}

.transparent-modal {
  --background: #0000005c;

  .modal-wrapper {
    backdrop-filter: blur(12px);
  }

  ion-content {
    --background: transparent;
  }
}

ion-alert.custom-alert {
  --background: linear-gradient(180deg, rgba(0, 0, 0, 0.8715861344537815) 0%, rgba(0, 0, 0, 0.8463760504201681) 57%, rgba(0, 0, 0, 0.6923144257703081) 80%, rgba(0, 0, 0, 0.5438550420168067) 89%, rgba(0, 0, 0, 0) 100%);
  --width: 100%;
  --height: 100%;
  text-align: center;
}

.alert-button-group.alert-button-group-vertical {
  align-content: center;
}

#alert-1-hdr {
  text-align: center;
}

span.alert-button-inner.sc-ion-alert-md {
  color: #fff;
  justify-content: center;
}



.alert-button.ion-focusable.ion-activatable.alert-button-role-cancel.cancel.sc-ion-alert-md {
  span.alert-button-inner.sc-ion-alert-md {
    color: red;
  }
}
